@model MVC_Refresher_2024.Models.CollegeClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CollegeClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeClassName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollegeClassName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CollegeClassID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
