@model MVC_Refresher_2024.Models.CollegeClass

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CollegeClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestId" class="control-label"></label>
                <input asp-for="RequestId" class="form-control" />
                <span asp-validation-for="RequestId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CollegeClassID" />
            <div class="form-group">
                <label asp-for="CollegeClassName" class="control-label"></label>
                <input asp-for="CollegeClassName" class="form-control" />
                <span asp-validation-for="CollegeClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
